# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
venv/
.env/
.env.*
.venv/

# ===============================
# Pytest / Coverage
# ===============================
.pytest_cache/
.coverage
htmlcov/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# IDEs / Editors
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Docker
# ===============================
docker-data/
